<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.dictionaryapp">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.example.notification.App"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="Dictionary"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Translate"></activity>
        <activity android:name=".viewTechnology" />
        <activity android:name=".Theme" />
        <activity android:name=".Setting" />
        <activity android:name=".RemindWord" />
        <activity android:name=".viewTest" />
        <activity android:name=".test" />
        <activity android:name=".viewWord" />
        <activity android:name=".findword" />
        <activity android:name=".Home" />
        <activity android:name=".signup" />
        <activity android:name=".login" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name="com.example.notification.AlertReceiver" />
    </application>

</manifest>